<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="<%= link %>">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <header>
        <nav>
            <div class="wrapper">
                <a class="logo" href="/"><img id="logo" src="img/logo.svg" alt="gem logo"></a>
                <div id = "title">Mallory Zlomanchuk</div>
                  <ul class="navMenu">
                    <div class ="close"><a href="#" id="menu-icon"><img id="menu-icon" src="img/close.svg" alt="mobile menu"></a></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="api">API</a></li>
                    <li><a href="contact">Contact</a></li>
                  </ul>
                <div class="menu" id="menu"> 
                  <a href="#" id="menu-icon"><img id="menu-icon" src="img/menu.svg" alt="mobile menu"></a>
                </div>
            </div>
        </nav>
      </header>
      <script src="js/header.js"></script>
  