<footer>
    <div id="copy">&copy; by Mallory</div>
    <div id="socialicon">
      <img class="social" src="img/code.svg" alt="codepen">
      <img class="social" src="img/git.svg" alt="github">
      <img class="social" src="img/linked.svg" alt="linkedin">
    </div>
    <!-- <div id= "footerFormDiv">
      <form id = "footerForm" action="/submit" method="post" autocomplete="on">
        <fieldset id = "footerFieldset">
          <legend id = "footerLegend">Join Our Mailing List!</legend>
          <label for = name, class = "footerLabel">Name:<span>*</span></label><br>
          <input id = name, class = "footerInput" type="text" name="name" placeholder="John Shepp"><br>
          <label for = email class = "footerLabel">Email<span>*</span></label><br>
          <input id =email, class = "footerInput"type="email" name="email" placeholder="johnshepp@email.com" required><br>
          <input id="footerSubmit" type="submit" value="Connect">
        </fieldset>
      </form>
    </div> -->
  </footer>
</body>
</html>