main {
  background-color:black;
  height: 625px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1468186402854-9a641fd7a7c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

}

h5 {
  color: white;
  position: absolute;
  bottom: 450px;
  left: 100px;
  font-size: 30px;

}

h3 {
  color: white;
  position: absolute;
  bottom: 650px;
  left: 100px;
  font-size: 35px;
}


a {
	color: rgb(2, 0, 5);
	text-decoration: none;
	font-weight: bold;
	font-size: 2.5ch;
	font-family: 'Montserrat', sans-serif;
}

a:hover {
	color: rgb(40, 145, 92);
}

img {
  width: 100%;
}

header {
	background:white;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid rgb(0, 5, 10);
	z-index: 100;
}

#logo{
  margin: 10px;
	float: left;
	width: 60px;
	height: 40px;
  display: block;
}

nav {
	float: right;
  padding: 20px;
}

#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
}

a:hover#menu-icon {
	background-color: rgb(255, 255, 255);
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px
}

.current {
  color: rgb(40, 145, 92);
  padding: 1em;
}

#hero {
  display: block;
  object-fit: cover; 
  background-color: rgb(4, 2, 2);
}

#mobile {
  display: block;
  background-color: rgb(4, 2, 2);
}

#name {
  position: absolute;
  top: 20%;
  left: 15%;
  font-family: 'Raleway', sans-serif;
  color: white;
}

#name2 {
  position: absolute;
  top: 16%;
  left: 16.5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 4ch;
}

aside {
  max-height: 25vmax;
  min-height: 15vmin;
  background-color: rgb(4, 2, 2);
  margin: 0;
  padding-bottom: 2em;
   padding-top: 1em;
}

h3 {
  margin-top: 0;
  background: -webkit-linear-gradient(#f84a06, #f023df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 5ch;
  display: block;
  margin: auto;
  text-align: right;
  margin-right: 1em;
  }

#name { 
  color: white;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 2em;
  margin-bottom: 0;
  font-size: 3ch;
}

#me {
  max-height: 24vmax;
  min-width: 24vmin;
  max-width: 24vmax;
  object-fit: cover; 
  padding: 2em;
  margin-left: 2em;
  float: left;
  border-radius: 50%;
  shape-outside: circle(50%);
  clip-path: circle(50%);
}
 

p {
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
	padding: 3em;
	padding-bottom: 0;
  line-height: 6vmin;
  margin-left: 2em;
}

#codelink2 {
  display: inline-block;
  text-align: right;
  font-size: 3vmin;
  font-family: 'Montserrat', sans-serif; 
  border: 2px solid rgb(2, 32, 25);
  border-top: 2px solid #311047;
  background: -webkit-gradient(linear, left top, left bottom, from(#f84a06), to(#f023df));
  padding: 19.5px 39px;
  position: absolute;
  bottom: 350px;
  left: 100px;
  border-radius: 26px;
  color: white;
  font-size: 23px;
  text-decoration: none;
}
 
#codelink2:hover {
  background: #0a0317;
  color: #ccc;
}


ul.boxes {
  background-color:  rgb(4, 2, 2);
  margin-top: 3em;
  margin-bottom: 0;
}

.boxes a {
  text-decoration: none;
  padding: 1rem;
  margin: auto;
  text-align: center;
  color: white;
  border: 3px solid white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5ch;
}


.boxes a:hover {
  color:greenyellow;
}

.boxes {
  padding: .5rem;
  color: white;
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
} 

/* footer {
  background-color: black;
  color: white;
  position:fixed;
  left:0px;
  bottom:0px;
  height:100px;
  width:100%;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */

#copy {
  font-size: 2.5vh;
  grid-column: 2/3;
}

div #socialicon {
  grid-row-start: 2;
  grid-column: 2/3;
}

#socialicon {
  grid-row-start: 2;
  grid-column: 2/3;
  margin: auto;
  display: flex;
}

.social {
  margin: 20px;
  width: 60px;
  height: 40px;
  display: block;
}


/* @meida */

@media (max-width: 1000px) {
  #hero {display: none;}
}

@media screen and (min-width: 1000px) {
  #mobile {display:none;}
}

@media (max-width: 1100px) {
  #codelink {
    margin-left: 4em;
    margin-top: 2.5em;
  }
}


@media only screen and (max-width : 850px) {
	header {
		position: fixed;
	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid rgb(7, 0, 0);
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
  }
}

@media screen and (min-width: 600px) {

  .boxes li:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: span 4;
    background-image: url("https://images.unsplash.com/photo-1532529867795-3c83442c1e5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .boxes li:nth-child(2) {
    grid-column: 3/ -1;
    grid-row: span 4;
    background-image:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),
    url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  
  
  .boxes a {
      text-decoration: none;
  }
  
  #span1:hover {
    border: 2px solid white;
    border-radius: 50%;
    padding: .3em;
  }
  }

  @media (max-width: 50em) {
    .boxes li:nth-child(1) {
      grid-column: 1 / -1;
      grid-row: span 4;
      background-image: url("https://images.unsplash.com/photo-1532529867795-3c83442c1e5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    
    .boxes li:nth-child(2) {
      grid-column: 1/ -1;
      grid-row: span 4;
      background-image:
      url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }
    }

