  <%- include partials/header %>
  <div id = "hero"></div>
  <h1 id="name">Mallory Zlomanchuk</h1>  
  <h3 id="name2">Junior Web Developer</h3>
  <aside>
    <h3>"...let's make something amazing together."</h3>
  </aside>
  <div>
    <h2>&#60;Hello; I’m Mallory&#62;</h2>
    <img id="me" src="img/mypic3.jpg" alt="Me">
    <p>I am a Junior Web Developer in Calgary, Alberta. I believe web development is an art: the viewport is a blank canvas awaiting to be painted with colorful code and molded through logic-based creativity. I am fueled by learning new coding superpowers to style engaging user-friendly designs and aspire to continually grow and learn new talents.</p><br><a id="connect" href="about">&#62; Explore my coding skills</a>
    <!-- <a id="codelink" href="about">&#60; my-coding-skills&#62;</a> -->
  </div>
  <section id="pictures">
    <ul class="boxes">
      <li>
        <div class = "pBox"></div>
        <h5>Owl Advice: an API module using JavaScript.</h5>
        <div>
          <h2><a href="gallery">Sample API</a></h2>
        </div>
      </li>
      <li>
        <div class = "pBox"></div>
        <h5>Something wonderful is about to happen...</h5>
        <div>
          <h2><a href="contact">Contact Me</a></h2>
        </div>
      </li>
    </ul>
  </section>
  <%- include partials/footer %>
