<%- include partials/header %>
  <div id="hero">
    <h1>about me.</h1>
  </div>
  <h2 id = "hello">&#60; Hello; I’m Mallory &#62;</h2>
  <img id="me" src="img/mypic3.jpg" alt="Me">
  <p>I am a Junior Web Developer in Calgary, Alberta. My interest in web development sparked through designing websites for local businesses utilizing web template websites, such as Wix and Shopify. After which, I enrolled in the Web Development program at SAIT…and the rest is history. <br>I believe web development is an art: the viewport is a blank canvas awaiting to be painted with colorful code and molded through logic-based creativity. I have a passion for building innovative, marketable websites that include intuitive features and attractive eye candy to enhance the UX for local businesses. <br>We are not defined by what we have done, but what we dream of accomplishing. I am fuelled by learning new coding superpowers to style engaging user-friendly designs and aspire to continually grow and learn new coding talents. To me, web developing is not a job,it’s a passion. <br> <a id="connect" href="contact">&#62; Connect with me, let’s make something amazing together.</a>
  </p>
  <main>
    <h2 id="skilltitle">My Skills</h2>
    <section id="grid">
      <section id="card1" class="card">
        <H3 class="cardtitle">Design Tools:</H3>
        <ul class="list">
          <li class="one">Balsamiq Mockups</li>
          <li class="two">To Be Determined</li>
          <li class="three">To Be Determined</li>
          <li class="four">To Be Determined</li>
          <li class="five">To Be Determined</li>
        </ul>
      </section>
      <section id="card2" class="card">
        <H3 class="cardtitle">Languages:</H3>
        <ul class="list">
          <li class="one">HTML</li>
          <li class="two">CSS</li>
          <li class="three">Sass</li>
          <li class="four">To Be Determined</li>
          <li class="five">To Be Determined</li>
        </ul>
      </section>
      <section id="card3" class="card">
        <H3 class="cardtitle">Dev Tools:</H3>
        <ul class="list">
          <li class="one">Codepen</li>
          <li class="two">GitHub</li>
          <li class="three">Netlify</li>
          <li class="four">To Be Determined</li>
          <li class="five">To Be Determined</li>
        </ul>
      </section>
      <section id="card4" class="card">
        <H3 class="cardtitle">Software:</H3>
        <ul class="list">
          <li class="one">Adobe Photoshop</li>
          <li class="two">To Be Determined</li>
          <li class="three">To Be Determined</li>
          <li class="four">To Be Determined</li>
          <li class="five">To Be Determined</li>
        </ul>
      </section>
    </section>
  </main>
  <%- include partials/footer %>