<%- include partials/header %>
  <div id="quote">
    <h2>Something wonderful is about to happen...</h2>
  </div>
  <main>
    <form action="/submit" method="post" autocomplete="on">
      <fieldset>
        <legend>Join Our Newsletter Subscription</legend>
        <label>Name:<span>*</span><br>
        <input id="name" type="text" name="name" placeholder="John Shepp"></label><br>
        <label>Email<span>*</span><br>
        <input type="email" name="email" placeholder="johnshepp@email.com" required></label><br>
        <input type="checkbox" name="adult" value="adult"> I am over 18
        <input id="submit" type="submit" value="Register">
      </fieldset>
    </form>
  </main>  
  <%- include partials/footer %>